.carousel-caption {
    right: 15%;
    left: 20% !important;
    color: #242121 !important;
    top: 32% !important;
    text-align: left !important;
}

.carousel-control-prev-icon {
    background-image: url("https://www.svgrepo.com/show/409026/angle-left.svg") !important;
}

.carousel-control-next-icon {
    background-image: url("https://www.svgrepo.com/show/409027/angle-right.svg") !important;
}

.carousel-indicators {
    display: none !important;
}