.discountItem {
    margin: 15px;
}

.discountImg {
    margin-bottom: 20px
}

.discountImg a img {
    width: 100%;
}

.discountImg-2 {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.discountItem:hover .discountImg-2 {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

.discountAction {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    top: 45%;
    right: 15px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.discountItem:hover .discountAction {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

.discountIcone {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 18px;
}

.discountIcone:last-child {
    border-bottom: none;
}

.discountTitle h4 {
    font-size: 18px;
    font-weight: 300;
}

.discountTitle h4:hover {
    color: #bc8246
}

span.oldPrice {
    margin-left: 15px;
    text-decoration: line-through;
}

.addToCart {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateZ(0)
}

.discountItem:hover .addToCart {
    visibility: visible;
    opacity: 1;
    transform: translateZ(10px);
    margin-top: -25px;
}

.discountPrice {
    transition: all 0.3s ease;
}

.discountItem:hover .discountPrice {
    visibility: hidden;
    opacity: 0;
}

.slick-next {
    background: url('https://www.svgrepo.com/show/409027/angle-right.svg') center center no-repeat !important;
}

.slick-prev {
    background: url('https://www.svgrepo.com/show/409026/angle-left.svg') center center no-repeat !important;
}

.slick-prev::before {
    display: none;
}

.slick-next::before {
    display: none;
}